extends layout

block content
	div.game
	#players
		div.row
			div.col-sm-6#player
				div.player1
					h2#name
					h1#score
					a(onclick="addScore(1,1)").btn#addbutton +
					br
					a(onclick="addScore(1,-1)").btn#subbutton -
			div.col-sm-6#player
				div.player2
					h2#name
					h1#score
					a(onclick="addScore(2,1)").btn#addbutton +
					br
					a(onclick="addScore(2,-1)").btn#subbutton -
block script
	script(src='/javascripts/current.js')