extends layout

block content
    h1= title
    p Welcome to the Ping Pong Server

    // Wrapper
    #wrapper

        // USER LIST
        h2 User List
        #gameList
            table
                thead
                    th player1
                    th score1
                    th player2
                    th score2
                tbody
        // /USER LIST

    // /WRAPPER