extends layout
block content
	link(rel='stylesheet', href='/stylesheets/current.css')
	#players
		div.player1-wrapper#player
			div.player1
				h2#name
				h1#score
		div.my-spacer
		div.player2-wrapper#player
			div.player2
				h2#name
				h1#score
	div.my-alert
	div.back-button(onclick="location.href='/'").btn-primary Back to Home
	div.game
block script
	script(src='/javascripts/current.js')