extends layout

block content
	h1= title
	p Welcome to the Ping Pong Server

	// Wrapper
	#wrapper

		#leaderboard
			h2 Alex vs Dad
			h4.record 
			br

		// GAME LIST
		h2 Game list
		#gameList
			table
				thead
					th player1
					th score1
					th player2
					th score2
					th status
				tbody
		// GAME LIST
		h2 New Game
		form(name="start-new-game", action="/play/start", method="POST")
			div.input
				span.label Player 1
				input(type="text", name="player1")
			div.input
				span.label Player 2
				input(type="text", name="player2")
			div.actions
				input(type="submit", value="Begin")
	// /WRAPPER
block script
	script(src='/javascripts/tablefill.js')